<div class="cards">
  <span class="new-tag">Novo</span>
  <img class="item-image" src="src/assets/default-product.png" alt="Imagem produto">
  <h3 class="item-title"> Lorem ipsum dolor sit amet consectetuer adipiscing elit </h3>
  <div class="values-div">
    <div class="prices-div">
      <p class="original-price">R$ 100,00</p>
      <p class="discount-price">R$ 79,90</p>
    </div>
    <a target="_blank" class="discount-percent" href="https://www.nike.com.br/air-max-1-86-027221.html?cor=51">10% OFF</a>
  </div>
  <div class="payment-type">
    <span class="start-payment-type">Ou em até</span>
    <span class="payment-type-values">10x de R$ 7,90</span>
  </div>
  <button class="buy-button">Comprar</button>
</div>