.cards {
  align-items: start;
  border: 1px solid #3F3D3D3D;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 25.563rem;
  padding: 5px 8px;
  position: relative;
  width: 14.875rem;
}

.new-tag {
  background-color: #00264E;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Nunito Sans;
  font-size: 10px;
  font-weight: 700;
  height: 1.438rem;
  left: 8px;
  letter-spacing: 0%;
  line-height: 22px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 7px;
  width: 2.563rem;
}

.item-image {
  height: 13.875rem;
  width: 100%;
}

.item-title {
  font-family: "Nunito Sans";
  font-size: 0.85em;
  font-weight: 400;
  height: 2.438rem;
  letter-spacing: 0%;
  line-height: 100%;
  text-transform: capitalize;
  margin-right: 10px;  
  margin-top: 15px;
  width: 100%;
}

.values-div {
  align-items: start;
  display: flex;
  gap: 10px;
  height: 3.625rem;
  margin-top: 15px;
  width: 11rem;
}

.original-price {
  font-family: "Nunito Sans";
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  text-decoration: line-through;
  text-transform: capitalize;
}

.discount-price {
  font-family: 'Nunito Sans';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 100%;
  text-transform: capitalize;
}

.discount-percent {
  align-items: center;
  background-color: #5EC0BE;
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans';
  gap: 10px;
  height: 1.25rem;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: center;
  width: 5rem;
}

.payment-type {
  height: 3.625rem;
  margin: 10px 0 15px 0;
  width: 11rem;
}

.start-payment-type {
  font-family: "Nunito Sans";
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
}

.payment-type-values {
  font-family: "Nunito Sans";
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0%;  
  line-height: 100%;
}

.buy-button {
  background-color: #005CFF;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 700;
  gap: 10px;
  height: 2.5rem;
  letter-spacing: 0%;
  line-height: 20px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.blink {
  animation: blink-animation 0.5s ease-in-out infinite alternate;
}

@keyframes blink-animation {
  from {
    background-color: rgba(91, 151, 255, 0.8);
    color: #FFFFFF;
  }
  to {
    background-color: rgba(86, 145, 247, 0.6);
    color: #FFFFFF;
}
}

@media (max-width: 600px) {
  .cards {
    height: 22.813rem;
    width: 10.875rem;
  }
  .item-title {
    font-size: 0.85em;
  }
  .values-div {
    height: 3.625rem;
    width: 10rem;
  }
  .discount-percent {
    font-size: 11px;
    font-weight: 700;
    width: 4rem;
  }
  .payment-type {
    margin: 0;
  }
  .payment-type span {
    color: #303030;
    font-size: 12px;
  }
  .buy-button {
    height: 40px;
    margin: 0;
    width: 158px;
  }
}