  <div class="slides-container">
    <div class="items-container swiper-wrapper">
      <div class="slide swiper-slide">
      </div>
    </div>
  
    <div class="items-container swiper-wrapper">
      <div class="slide swiper-slide">
      </div>
    </div>
  
    <div class="items-container swiper-wrapper">
      <div class="slide swiper-slide">
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>