.items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  justify-content: center;
  margin: auto;
  left: 331px;
  width: 1275px;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; /* Permite que os slides se ajustem automaticamente */
}

.mySwiper {
  display: flex;
  gap: 50px;
  height: 450px;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.slides-container {
  display: flex;
}

.items-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 420px;
  gap: 17px;
  width: 100%;
}

.carrossel-texts {
  align-items: center;
  display: flex;
  height: 27px;
  justify-content: space-between;
  left: 331px;
  width: 99%;
}

.carrossel-texts h3 {
  display: flex;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
}

.carrossel-texts a {
  color: #303030;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 3px;
  letter-spacing: 0%;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

.swiper-button-next {
  background-image: url('/src/assets/forward-arrow.png'); /* Substitua pelo caminho da sua imagem */
  background-size: contain; /* Ajusta a imagem ao tamanho do botão */
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 989px;
  left: 1574.4px;  
}

/* Personalizar a seta "anterior" */
.swiper-button-prev {
  background-image: url('/src/assets/previous-arrow.png'); /* Substitua pelo caminho da sua imagem */
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 989px;
  left: 1574.4px;  
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  display: none;
}

.swiper-pagination-bullet {
  background-color: #838383 !important; /* Substitua pela cor desejada */
  opacity: 1 !important; /* Garante que os pontos sejam totalmente visíveis */
}

/* Cor dos pontos ativos */
.swiper-pagination-bullet-active {
  background-color: #303030 !important; /* Substitua pela cor desejada para o ponto ativo */
}