.items {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 29.875rem;
  justify-content: center;
  margin: auto;
  width: 80.525rem;
}

.swiper {
  height: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}

.mySwiper {
  display: flex;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.slides-container {
  display: flex;
}

.items-container {
  align-items: center;
  display: flex;
  gap: 17px;
  height: 25.563rem;
  justify-content: center;
  width: 100%;
}

.carousel-texts {
  align-items: center;
  display: flex;
  height: 1.688rem;
  justify-content: space-between;
  width: 78.688rem;
}

.carousel-texts h3 {
  display: flex;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
}

.carousel-texts a {
  color: #303030;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0%;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 3.75rem;
}

.carousel-texts a:hover {
  color: #005CFF;
  text-decoration: underline;
}

.swiper-button-next {
  background-image: url('/src/assets/forward-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.875rem;
  width: 1.875rem;
}

.swiper-button-prev {
  background-image: url('/src/assets/previous-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.875rem;
  width: 1.875rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  display: none;
}

.swiper-pagination-bullet {
  background-color: #838383 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #303030 !important;
}

@media (max-width: 600px) {
  .items {
    height: 26.625rem;
    width: 22.375rem;
  }
  .carousel-texts {
    height: 1.375rem;
    margin-bottom: -25px;
    width: 100%;
  }
  .carousel-texts h3 {
    font-size: 1em;
  }
  .carousel-texts a {
    font-size: 14px;
    text-decoration: underline;
  }
  .items-container {
    gap: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}