
<header>
  <div id="top-discount-div">
    <span id="top-discount-span">
      Ganhe <span id="top-discount-value-span">
        R$10,00 
      </span>  de desconto no seu primeiro pedido. Utilize o cupom 
      <span id="top-discount-coupon-span">
        DESCONTO10
      </span>
    </span>
  </div>
  <div id="top-search-profile-div">
    <div id="top-search-div">
      <img src="/src/assets/AVANTI.png" alt="Logo AVANTI">
      <form onsubmit="searchResult()" id="top-form">
          <input type="text" id="top-input-search" placeholder="Digite aqui o que você procura"/>
          <button id="top-button-search"></button>
      </form>
    </div>
    <div id="top-profile-cart-div">      
      <div id="top-greeting-img-div">
        <img src="/src/assets/profile.png" alt="Imagem de perfil">
        <span id="top-greeting-span">Olá,</br>
          Nome cliente!
        </span>
      </div>
      <img src="/src/assets/cart.png" alt="Imagem de carrinho de compras">
    </div>
  </div>
  <div id="top-menu-and-categories-div">
    <div class="dropdown">
      <button class="dropbtn">
        <svg id="top-menu-img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
        Todas as Categorias
      </button>
      <div class="dropdown-content">
        <div id="main-tags"></div>
        <div id="extend-tags">
          <div class="categories-tags-div"></div>
          <div class="categories-tags-div"></div>
          <div class="categories-tags-div"></div>
        </div>
        <div class="dropdown-image-div">
          <img src="/src/assets/second-banner.png" alt="Imagem de uma caneca.">
          <h1>Confira os 
            Produtos
            <span>
              Que acabaram
              De chegar
            </span>
          </h1>
          <button>VER TODOS</button>
        </div>
      </div>
    </div>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
    <span class="top-departments">Departamento</span>
  </div>
</header>