@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,200..1000;1,6..12,75..125,200..1000&display=swap');

header {
  background-color: #FFFFFF;
  box-shadow: #3F3D3D3D 0px 3px 8px;
  display: flex;
  flex-direction: column;
  height: 148px;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 999;
}

#top-discount-div{
  align-items: center;
  background-color: #005CFF;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100vw;
}

#top-discount-span {
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
}

#top-discount-value-div {
  display: flex;
}

#top-discount-value-span {
  background-color: #6220C1;
  border-radius: 5px;
  margin-right: 4px;
  padding-left: 2px;
}

#top-discount-coupon-span {
  font-weight: 400;
  font-style: italic;
}

#top-search-profile-div {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#top-search-div {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: center;
}

#top-form {
  align-items: center;
  border-radius: 10px;
  border: 1px solid #3F3D3D3D;
  display: flex;
  justify-content:space-between;
  height: 40px;
  left: 548px;
  padding: 2px;
  top: 46px;
  outline: none;
  width: 594px;
}

#top-input-search {
  border-radius: 10px;
  border: none;
  height: 30px;
  left: 548px;
  padding-left: 15px;
  top: 46px;
  outline: none;
  width: 580px;
}

#top-input-search::placeholder {
  color: #000000;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
}

#top-button-search {
  background-color: transparent;
  background-image: url('/src/assets/magnifying-glass.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  border: none;
  cursor: pointer; 
  height: 25px;
  margin-right: 15px;
  width: 25px;
}

.search-result-div {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
}

#top-profile-cart-div{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 28px;
  top: 52px;
  left: 1417px;
  gap: 24px;
  width: 190px;
}

#top-greeting-img-div {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#top-greeting-span {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}

#top-menu-and-categories-div {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
}

#top-menu-img {
  display: inline-block;
  stroke: #000000;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.top-departments {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
}

.top-departments:hover {
  color: #005CFF;
}

.top-departments:hover ~ .dropdown-content-dep {
  display: flex;
}
.top-cart-count-div {
  position: relative; /* Define o contexto de posicionamento para os elementos filhos */
  display: inline-block; /* Garante que o tamanho do contêiner se ajuste ao conteúdo */
}

.top-cart-count-div img {
  display: block; /* Remove espaços extras ao redor da imagem */ /* Ajuste conforme necessário */
  width: 28px;
  height: auto; /* Mantém a proporção da imagem */
}

.top-cart-count-div span {
  position: absolute; /* Posiciona o span em relação ao contêiner pai */
  top: -5px; /* Ajuste para posicionar verticalmente */
  right: -5px; /* Ajuste para posicionar horizontalmente */
  background-color: #005CFF; /* Fundo vermelho para destacar o número */
  color: #FFFFFF; /* Cor do texto */
  font-size: 12px; /* Ajuste conforme necessário */
  font-weight: bold; /* Deixa o texto em negrito */
  padding: 2px 6px; /* Adiciona espaçamento interno */
  border-radius: 50%; /* Deixa o fundo circular */
  text-align: center; /* Centraliza o texto */
  font-family: Nunito;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;

  z-index: 2; /* Garante que o texto fique acima da imagem */
}
.dropbtn {
  align-items: center;
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flex;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  gap: 8px;
  height: 40px;
  justify-content: center;
  line-height: 22px;
  letter-spacing: 0%;
}

.dropbtn-mobile {
  align-items: center;
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: none;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  gap: 8px;
  height: 40px;
  justify-content: center;
  line-height: 22px;
  letter-spacing: 0%;
}

.dropbtn:hover {
  color: #005CFF;
}

.extend-tags {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: start;
  margin-left: -50px;
  margin-top: -50px;
  width: 700px;
}

.dropdown {
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.dropdown-content {
  box-shadow: #3F3D3D3D 0px 3px 8px;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  overflow: hidden;
  z-index: 1;
  transition: stroke 0.3s ease;
  z-index: 1000;
  width: 1261px;
  height: 329px;
  top: 38px;
  left: -1px;
}

.dropdown-content-dep {
  align-items: center;
  box-shadow: 0px 4px 6px -2px rgba(63, 61, 61, 0.24);
  display: none;
  position: absolute;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: auto;
  min-width: 160px;
  overflow: hidden;
  z-index: 1;
  transition: stroke 0.3s ease;
  z-index: 1000;
  width: 1261px;
  height: 329px;
  top: 148px;
  left: 50px;
}

.dropdown-content-dep .dropdown-image-div {
  margin-bottom: 30px;
}

.dropdown-content-dep .extend-tags {
  margin: auto;
}

.dropdown-content-dep .extend-tags .categories-tags-div{
  margin: auto;
  gap: 20px;
}


#main-tags {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #CECECE #F5F5F5;
  width: 234px;
  height: 329px;
}

#main-tags::-webkit-scrollbar {
  width: 8px;
}

.extend-tags.active {
  display: flex;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-family: Nunito Sans;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0px;
align-items: center;
display: flex;
justify-content: space-between;
width: 200px;
}

.arrow-tag {
  font-weight: 700;
}

.dropdown-content a:hover {color: #005CFF;}

.dropbtn:hover #top-menu-img {
  stroke: #005CFF;
}

.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: space-between;
}

.dropdown-image-div {
  top: 15px;
  right: 20px;
  width: 236px;
  height: 298px;
  border-radius: 15px;
  position: relative;
}

.dropdown-image-div img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.dropdown-image-div::before {
  content: '';
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.74902) -20.45%, rgba(0, 0, 0, 0) 138.31%);
  z-index: 1;
}

.dropdown-image-div h1 {
  position: absolute;
  color: #FFFFFF;
  top: 50px;
  left: 30px;
  z-index: 2;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.5%;
  width: 127.42px;
  height: 207.10px;
}

.dropdown-image-div span {
  font-weight: 700;
}

.dropdown-image-div button {
  position: absolute; 
  bottom: 40px; 
  left: 30px; 
  z-index: 2;
  background-color: transparent; 
  color: white;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 116;
  height: 38;
  top: 220px;
  border-width: 1px;
  font-family: Heebo;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

}

.categories-tags-div {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
height: 100%;
text-align: center;
}

.categories-tags-div a:hover {
  color: #005CFF;
}

.tags-dep-div {
  margin-left: 20px;
  display: flex;
  gap: 20px;
  height: 80%;
  flex-direction: column;
}


.tags-dep-div h3 {
  align-items: center;
  display: flex;
  width: 200px;
height: 22px;
font-family: Nunito Sans;
font-weight: 700;
font-size: 16px;
line-height: 100%;
margin-left: 10px;
margin-top: -10px;
letter-spacing: 0px;
text-align: center;
}

.categories-tags-div a {
  align-items: center;
  color: #656565;
  cursor: pointer;
  display: flex;
  font-family: Nunito Sans;
font-weight: 400;
font-size: 14px;
justify-content: center;
line-height: 100%;
letter-spacing: 0px;
height: 10px;
width: 60px;


}

@media (max-width: 390px) {
  header {
    width: 100%;
  }
  #top-discount-div {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 390px;
    height: 52px;
  }
  .dropbtn-mobile {
    display: flex;
  }
  #top-greeting-img-div {
    display: none;
  }
  #top-menu-and-categories-div {
    display: none;
  }
  #top-search-profile-div {
    flex-direction: column;
    width: 390px;
  }
  #top-search-div img {
    width: 30px;
    height: 20px;
  }
  #top-form {
    width: 100px;
  }
  .button-logo-div {
    display: flex;
  }
}