<footer>
  <section class="first-half-footer-section">
    <div class="logo-socials-div">
      <img src="/src/assets/AVANTI.png" alt="Logo AVANTI">
      <div class="socials-div">
        <a href="https://www.instagram.com/penseavanti/" target="_blank">
          <img src="/src/assets/instagram.png" alt="Logo Instagram">
        </a>
        <a href="https://www.facebook.com/penseavanti" target="_blank">
          <img src="/src/assets/facebook.png" alt="Logo Facebook">
        </a>
        <a href="https://www.youtube.com/@penseavanti/videos" target="_blank">
          <img src="/src/assets/youtube-logo.png" alt="Logo Youtube">
        </a>
        <a href="https://www.linkedin.com/company/penseavanti" target="_blank">
          <img src="/src/assets/tiktok-logo.png" alt="Logo TikTok">
        </a>
      </div>
    </div>
    <div class="inst-help-service-main-div">
      <div class="info-divs">
        <h4>Institucional</h4>
        <h5 class="institutional-items">Sobre Nós</h5>
        <h5 class="institutional-items">Nossas Lojas</h5>
        <h5 class="institutional-items">Privacidade e Segurança</h5>
        <h5 class="institutional-items">Termos e Condições</h5>
      </div>
      <div class="info-divs">
        <h4>Central de ajuda</h4>
        <h5 class="help-center-items">Fale conosco</h5>
        <h5 class="help-center-items">Frete e Entrega</h5>
        <h5 class="help-center-items">Trocas e Devoluções</h5>
        <h5 class="help-center-items">Formas de Pagamento</h5>
        <h5 class="help-center-items">FAQ</h5>
      </div>
      <div class="info-divs">
        <h4>Atendimento</h4>
        <h5 class="service-items">
          <span class="service-spans">Telefone:</span> (00) 1234-5678
        </h5>
        <h5 class="service-items">
          <span class="service-spans">E-mail:</span> exemplo@exemplo.com.br
        </h5>
        <h5 class="service-items">
          <span class="service-spans">Horário de atendimento:</span>
          <p class="service-ps">Segunda a Sábado: 07h00 às 23h00</p>
          <p class="service-ps">Domingo e Feriados: 07h00 às 21h00</p>
        </h5>
      </div>
    </div>
  </section>
  <section class="payment-types-div">
    <img src="/src/assets/amex.png" alt="Logo Amex" />
    <img src="/src/assets/master.png" alt="Logo Mastercard" />
    <img src="/src/assets/visa.png" alt="Logo Visa" />
    <img src="/src/assets/hipercard.png" alt="Logo Hipercard" />
    <img src="/src/assets/elo.png" alt="Logo Elo" />
    <img src="/src/assets/amend.png" alt="Logo Amend" />
    <img src="/src/assets/paypal.png" alt="Logo Paypal" />
    <img src="/src/assets/pix.png" alt="Logo Pix" />
    <img src="/src/assets/boleto.png" alt="Logo Boleto" />
  </section>
  <section class="second-half-footer-section">
    <p class="main-text-second-half-footer">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    </p>
    <img src="/src/assets/last-group-logo.png" alt="Last group logo">
  </section>
</footer>