footer {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: center;
  margin: 40px 0 40px 0;
  width: 100%;
}

footer a {
  text-decoration: none;
}

.first-half-footer-section {
  align-items: self-start;
  display: flex;
  gap: 40px;
  height: 150px;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.logo-socials-div {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  gap: 40px;  
  height: 93px;
  justify-content: start;
  left: 396px;
  margin: 30px 50px 0 0;
  width: 12.125rem;
}

.socials-div {
  align-items: center;
  display: flex;
  gap: 30px;
  height: 26px;
  justify-content: start;
  width: 100%;
}

.info-divs div {
  color: #303030;
  display: flex;
  flex-direction: column;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 400;
  gap: 12px;
  height: 142px;
  justify-content: start;
  left: 732px;
  letter-spacing: 0px;
  line-height: 100%;
  width: 13.75rem;
}

.inst-help-service-main-div {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 50%;
}

.info-divs h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.service-spans {
  font-weight: 700;
}

.service-ps {
  margin-top: 10px;
}

.payment-types-div {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: auto;
}

.second-half-footer-section {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  width: 100%;
}

.main-text-second-half-footer {
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 400;
  height: 59px;
  letter-spacing: 0px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  width: 67.125rem;
}

.dropdown-icon {
  display: none;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    height: 600px;
    align-items: self-start;
  }
  .first-half-footer-section {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .logo-socials-div {
    align-items: center;
    justify-content: center;
    width: 194px;
    margin: 0;
    height: 93px;
    gap: 40px;
  }
  .socials-div {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .inst-help-service-main-div {
    align-items: center;
    border-top: 1px solid #DDDDDD;
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }
  .info-divs {
    border-bottom: 1px solid #DDDDDD;
    justify-content: center;
    padding: 10px 15px 0 15px;
    width: 100%;
  }
  .info-divs h4 {
    align-items: center;
    color: #000000;
    font-family: Nunito Sans;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    height: 22px;
  }
  .info-divs div {
    display: none;
  }
  .info-divs.open div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    margin-bottom: 20px;
  }
  .dropdown-icon {
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .info-divs.open .dropdown-icon svg {
    transform: rotate(180deg);
  }
  .payment-types-div {
    height: 65px;
    width: 288px;
  }
  .second-half-footer-section {
    background-color: #FFFFFF;
    height: 131px;
    padding: 0;
    margin-bottom: -20px;
    width: 100%;
  }
  .main-text-second-half-footer {
    height: 80px;
    margin: 20px 0;
    width: 358px;
  }
}