<footer>
  <section class="first-half-footer-section">
    <div class="logo-socials-div">
      <img src="/src/assets/AVANTI.png" alt="Logo AVANTI">
      <div class="socials-div">
        <a href="https://www.instagram.com/penseavanti/" target="_blank">
          <img src="/src/assets/instagram.png" alt="Logo Instagram">
        </a>
        <a href="https://www.facebook.com/penseavanti" target="_blank">
          <img src="/src/assets/facebook.png" alt="Logo Facebook">
        </a>
        <a href="https://www.youtube.com/@penseavanti/videos" target="_blank">
          <img src="/src/assets/youtube-logo.png" alt="Logo Youtube">
        </a>
        <a href="https://www.linkedin.com/company/penseavanti" target="_blank">
          <img src="/src/assets/tiktok-logo.png" alt="Logo TikTok">
        </a>
      </div>
    </div>
    <div class="inst-help-service-main-div">
      <div class="info-divs">
        <h4>Institucional<span class="dropdown-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#005CFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span></h4>
        <div>
          <h5 class="institutional-items">Sobre Nós</h5>
          <h5 class="institutional-items">Nossas Lojas</h5>
          <h5 class="institutional-items">Privacidade e Segurança</h5>
          <h5 class="institutional-items">Termos e Condições</h5>
        </div>
      </div>
      <div class="info-divs">
        <h4>Central de ajuda<span class="dropdown-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#005CFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span></h4>
        <div>
          <h5 class="help-center-items">Fale conosco</h5>
          <h5 class="help-center-items">Frete e Entrega</h5>
          <h5 class="help-center-items">Trocas e Devoluções</h5>
          <h5 class="help-center-items">Formas de Pagamento</h5>
          <h5 class="help-center-items">FAQ</h5>
        </div>
      </div>
      <div class="info-divs">
        <h4>Atendimento<span class="dropdown-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#005CFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </span></h4>
        <div>
          <h5 class="service-items">
            <span class="service-spans">Telefone:</span> (00) 1234-5678
          </h5>
          <h5 class="service-items">
            <span class="service-spans">E-mail:</span> exemplo@exemplo.com.br
          </h5>
          <h5 class="service-items">
            <span class="service-spans">Horário de atendimento:</span>
            <p class="service-ps">Segunda a Sábado: 07h00 às 23h00</p>
            <p class="service-ps">Domingo e Feriados: 07h00 às 21h00</p>
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-types-div">
    <img src="" alt="Imagens dos tipos de pagamento." class="flags-img">
  </section>
  <section class="second-half-footer-section">
    <p class="main-text-second-half-footer">
    </p>
    <img src="/src/assets/last-group-logo.png" alt="Last group logo">
  </section>
</footer>