.mug-banner {
  align-items: center;
  display: flex;
  height: 47rem;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
}

.mug-banner-image-div {
  background-color: #C2C2C2;
  height: 46rem;
  margin: 0;
  width: 40.75rem;
}

.mug-banner-image-div img {
  height: 34rem;
  width: 33rem;
}

.mug-banner-paragraphs-div {
  align-items:start;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 33.5rem;
  justify-content: center;
  margin: 0;
  margin-left: 3rem;
  width: 30.438rem;
}

.mug-banner-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 1.875em;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.mug-banner-paragraphs {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 1.125em;
  letter-spacing: 1px;
  line-height: 140%;
}

@media (max-width: 600px) {
  .mug-banner {
    flex-direction: column;
    gap: 4rem;
    height: 45.75rem;
    justify-content: start;
    width: 100%;
  }
  .mug-banner-image-div {
    height: 24.375rem;
    width: 100%;
  }
  .mug-banner-image-div img {
    height: 100%;
    width: 100%;
  }
  .mug-banner-paragraphs-div {
    gap: 18px;    
    height: 16.625rem;
    width: 100%;
  }
  .mug-banner-title {
    font-size: 1.5em;
  }
  .mug-banner-paragraphs {
    font-size: 0.875em;
    height: 16.25rem;
    width: 21.438rem;
  }
}
