<div class="mug-banner-image-div">
  <img src="/src/assets/mug.png" alt="Imagem de uma caneca com a logo da AVANTI."/>
</div>
<div class="mug-banner-paragraphs-div">
  <h2 class="mug-banner-title">Lorem Ipsum</h2>
  <p class="mug-banner-paragraphs">
      Duis consectetur metus nec lacus auctor dignissim.
      Mauris vitae finibus dui. Mauris laoreet lacus ut eleifend viverra.
      Cras efficitur volutpat dui, in lobortis metus lacinia sit amet.
      Sed lacinia pharetra magna, vel pulvinar ligula hendrerit a.
      Maecenas fringilla porttitor tortor eget lacinia.
      Donec sollicitudin euismod orci, auctor fringilla magna consequat interdum.
      Fusce sagittis elit a libero commodo egestas efficitur id augue.                  
  </p>
  <p class="mug-banner-paragraphs">
      Duis consectetur metus nec lacus auctor dignissim.
      Mauris vitae finibus dui. Mauris laoreet lacus ut eleifend viverra.
      Cras efficitur volutpat dui, in lobortis metus lacinia sit amet.
      Sed lacinia pharetra magna, vel pulvinar ligula hendrerit a.
      Maecenas fringilla porttitor tortor eget lacinia.
      Donec sollicitudin euismod orci, auctor fringilla magna consequat interdum.
      Fusce sagittis elit a libero commodo egestas efficitur id augue.                  
  </p>
</div>