@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,200..1000;1,6..12,75..125,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  padding-top: 9.25rem;
  overflow-x: hidden;
}

.main-div-start {
  align-items: center;
  background-color: #E7E7EA;
  display: flex;
  height: 31.875rem;
  justify-content: center;
  margin-bottom: 6.25rem;
  top: 9.25rem;
  width: 100%;
}

.supersale-report-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 14.063rem;
  justify-content: center;
  text-align: center;
  width: 37.5rem;
}

.super-sale-span {
  font-family: 'Nunito';
  font-size: 6.25em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
  margin-bottom: 0.938rem;
  margin-left: -0.938rem;
  text-transform: uppercase;
}

.sale-span {
  font-weight: 300;
}

.selected-span {
  color: #005CFF;
  font-family: 'Nunito';
  font-size: 1.563em;
  font-weight: 700;
  height: 2.125rem;
  letter-spacing: 7px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 36.25rem;
}

.off-span {
  color: #005CFF;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 3.75em;
  letter-spacing: 0;
  line-height: 100%;
  text-transform: uppercase;
}

.chair-image {
  height: 31.875rem;
  mix-blend-mode: Darken;
  width: 42.813rem;
}

.second-banner {
  align-items: center;
  background-color: #DEDEDE;
  display: flex;
  gap: 4rem;
  justify-content: center;
  height: 51.188rem;
  margin: 0;
  width: 100%;
}

.second-banner-title {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: Nunito;
  font-size: 1.875em;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 3rem;
}

.location-icon {
  height: 5.625rem;
  width: 5.625rem;
}

.second-banner-paragraphs-div {
  display: flex;
  flex-direction: column;
  height: 35.438rem;
  margin: auto;
  margin-right: 0;
  width: 29.75rem;
}

.second-banner-paragraphs {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: 'Nunito';
  font-size: 1.125em;
  font-weight: 400;
  gap: 1rem;
  height: 7.813rem;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 140%;
  margin-bottom: 3rem;
  margin-left: 0.4rem;
  width: 29.375rem;
}

.second-banner-mug{
  height: 45.509rem;
  margin: auto;
  margin-left: 0;
  width: 40.75rem;
}

.third-banner {
  align-items: center;
  background-image: url('/src/assets/avanti-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 41.25rem;
  justify-content: center;
  margin: 50px 0;
  overflow: hidden;
  width: 100%;
}

.third-banner-message-div {
  align-items: center;
  bottom: 0;
  display: flex;
  background-color: #005CFF;
  height: 8.25rem;
  justify-content: center;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.third-banner-message {
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 140%;
  text-align: center;
  vertical-align: middle;
}

.newsletter {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 14.188rem;
  justify-content: center;
  margin: auto;
  width: 78.75rem;
}

.newsletter-title {
  font-family: "Nunito Sans";
  font-size: 1.25;
  font-weight: 700;
  height: 1.688rem;
  letter-spacing: 0;
  line-height: 100%;
  margin-bottom: 1rem;
  text-align: center;
  width: 18.813rem;
}

.newsletter-title span {
  color: #005CFF;
}

.newsletter-form {
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  height: 11rem;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.newsletter-inputs {
  border: none;
  border-radius: 8px;
  height: 3rem;
  outline: none;
  padding-left: 1rem;
  width: 17.5rem;
}

.pvcheckbox-label {
  align-items: center;
  color: #656565;
  display: flex;
  font-family: 'Nunito Sans';
  font-size: 0.75rem;
  font-weight: 700;
  gap: 8px;
  height: 1rem;
  justify-content: center;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
}

.newsletter-check-input {
  border-radius: 4px;
  border-width: 1px;
  height: 1rem;
  width: 1rem;
}

.pvcheckbox-label a {
  color: #656565;
}

.newsletter-button {
  background-color: #005CFF;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 1em;
  font-weight: 700;
  gap: 10px;
  height: 3rem;
  letter-spacing: 0px;
  line-height: 20px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  text-align: center;
  width: 7.563rem;
}

@media (max-width: 600px) {
  .main-div-start {
    height: 19.125rem;
    justify-content: start;
    position: relative;
    top: 1.875rem;
  }
  .chair-image {
    height: 19.125rem;
    mix-blend-mode: Darken;
    width: 14.063rem;
  }
  .supersale-report-div {
    height: 10.25rem;
    width: 8.688rem;
  }
  .super-sale-span {
    display: flex;
    height: 5rem;
    flex-direction: column;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 8.313rem;
  }
  .selected-span {
    font-size: 0.75em;
    height: 1rem;
    letter-spacing: 0;
    width: 8.688rem;
  }
  .off-span {
    font-size: 2em;
  }
  .second-banner {
    flex-direction: column-reverse;
    gap: 0;
    height: 44.813rem;
    justify-content: start;
    padding-top: 1.5rem;
    width: 100%;
  }
  .second-banner-mug {
    height: 21.813rem;
    margin: 0;
    width: 21.813rem;
  }
  .second-banner-paragraphs-div {
    gap: 1rem;
    height: 15.125rem;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    width: 21.875rem;
  }
  .second-banner-title {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .second-banner-paragraphs {
    color: #000000;
    justify-content: self-start;
    font-size: 0.75em;
    gap: 1rem;
    margin: 0;
    letter-spacing: 0;
    padding: 0;
    width: 100%;
  }
  .location-icon {
    height: 3.75rem;
    margin: 0;
    padding: 0;
    width: 3.75rem;
  }
  .third-banner {
    background-image: url('/src/assets/avanti-image-mobile.png');
    height: 28.063rem;
  }
  .third-banner-message-div {
    height: 4.688rem;
    width: 100%;
  }
  .third-banner-message {
    font-size: 1em;
    font-weight: 600;
    width: 24.125rem;
  }
  .newsletter {
    flex-direction: column;
    height: 20.625rem;
    width: 22.375rem;
  }
  .newsletter-title {
    font-size: 1em;
    margin-bottom: 0;
  }
  .newsletter-form {
    flex-direction: column;
    gap: 1rem;
    height: 17.75rem;
    margin-top: 0;
    width: 100%;
  }
  .newsletter-inputs {
    border-radius: 8px;
    height: 3rem;
    width: 20.375rem;
  }
  .newsletter-check-input {
    border-radius: 4px;
    border-width: 1px;
    height: 1rem;
    width: 1rem;
  }
  .pvcheckbox-label {
    gap: 5px;
    height: 16px;
    width: 18rem;
  }
  .newsletter-button {
    width: 20.375rem;
  }
}