@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,200..1000;1,6..12,75..125,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  padding-top: 148px;
  overflow-x: hidden;
}

.main-div-start {
  align-items: center;
  background-color: #E7E7EA;
  display: flex;
  justify-content: center;
  height: 510px;
  margin-bottom: 100px;
  top: 148px;
  width: 100%;
}

.supersale-report-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 225px;
  text-align: center;
  width: 600px;
}

.super-sale-span {
  font-family: Nunito;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 15px;
  margin-left: -15px;
  text-transform: uppercase;
}

.sale-span {
  font-weight: 300;
}

.selected-span {
  color: #005CFF;
  font-family: Nunito;
  font-size: 25px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 7px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.off-span {
  color: #005CFF;
  font-family: Nunito;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;

}

.chair-image {
  height: 100%;
}

.second-banner {
  align-items: center;
  background-color: #DEDEDE;
  display: flex;
  gap: 49px;
  justify-content: center;
  margin: auto;
  height: 819px;
  width: 100%;
}


.second-banner-title {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 40px;
}

.second-banner-paragraphs-div {
  display: flex;
  flex-direction: column;
  height: 567px;
  margin: auto;
  width: 476px;
}

.second-banner-paragraphs {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  gap: 20px;
  justify-content: center;
  height: 125px;
  left: 3px;
  letter-spacing: 1px;
  line-height: 140%;
  margin-bottom: 20px;
  top: 92px;
  width: 460px;
}

.second-banner-mug{
  height: 728px;
  margin: auto;
  width: 652px;
}

.third-banner {
  align-items: center;
  background-image: url('/src/assets/avanti-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: center;
  margin: 50px 0;
  overflow: hidden;
  width: 100%;
}

.third-banner-message-div {
  align-items: center;
  bottom: 0;
  display: flex;
  background-color: #005CFF;
  height: 80px;
  justify-content: center;
  left: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.third-banner-message {
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 140%;
  text-align: center;
  vertical-align: middle;
}

.newsletter {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 227px;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.newsletter-title {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.newsletter-title span {
  color: #005CFF;
}

.newsletter-form {
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 8px;
  display: flex;
  gap: 15px;
  height: 176px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.newsletter-inputs {
  border: none;
  border-radius: 8px;
  height: 48px;
  outline: none;
  padding-left: 15px;
  width: 280px;
}

.pvcheckbox-label {
  align-items: center;
  color: #656565;
  display: flex;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  gap: 5px;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
}

.newsletter-check-input {
  border-radius: 4px;
  border-width: 1px;
  height: 16px;
  width: 16px;
}

.pvcheckbox-label a {
  color: #656565;
}

.newsletter-button {
  background-color: #005CFF;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
  height: 48px;
  letter-spacing: 0px;
  line-height: 20px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  text-align: center;
  width: 121px;
}

@media (max-width: 500px) {
  .main-div-start {
    height: 306px;
    top: 30px;
    position: relative;
    justify-content: start;
  }
  .inform-image {
    height: 164px;
    width: 139px;
  }
  .chair-image {
    mix-blend-mode: Darken;
    width: 225px;
  }
  .supersale-report-div {
    height: 164px;
    width: 142px;
  }
  .super-sale-span {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin: 0;
  }
  .selected-span {
    font-size: 12px;
    letter-spacing: 0;
  }
  .off-span {
    font-size: 32px;
  }
  .second-banner {
    flex-direction: column-reverse;
    gap: 0px;
    height: 717px;
    justify-content: start;
    padding-top: 25px;
    width: 100%;
  }
  .second-banner-mug {
    height: 349px;
    margin: 0;
    width: 349px;
  }
  .second-banner-paragraphs-div {
    height: 300px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 360px;
  }
  .second-banner-title {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .second-banner-paragraphs {
    color: #000000;
    justify-content: self-start;
    font-size: 12px;
    gap: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .location-icon {
    height: 60px;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  .third-banner {
    background-image: url('/src/assets/avanti-image-mobile.png');
    height: 449px;
  }
  .third-banner-message-div {
    height: 75px;
    width: 100%;
  }
  .third-banner-message {
    font-size: 16px;
    width: 386px;
  }
  .newsletter {
    flex-direction: column;
    height: 330px;
    width: 100%;
  }
  .newsletter-title {
    font-size: 16px;
  }
  .newsletter-form {
    flex-direction: column;
    height: 284px;
    width: 358px;
  }
  .newsletter-inputs {
    border-radius: 8px;
    height: 48px;
    width: 326px;
  }
  .newsletter-check-input {
    border-radius: 4px;
    border-width: 1px;
    height: 16px;
    width: 16px;
  }
  .pvcheckbox-label {
    height: 16px;
    width: 285px;
  }
  .newsletter-button {
    width: 326px;
  }
}