@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75..125,200..1000;1,6..12,75..125,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
  margin: 0;
  padding-top: 148px;
  overflow-x: hidden;
}

.main-div-start {
  align-items: center;
  background-color: #E7E7EA;
  display: flex;
  justify-content: center;
  height: 510px;
  margin-bottom: 100px;
  top: 148px;
  width: 100vw;
}

.second-banner {
  align-items: center;
  background-color: #DEDEDE;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 819px;
  width: 100vw;
}

.second-banner-main-div {
  display: flex;
  gap: 49px;
  height: 728.13px;
  left: 371.5px;
  top: 2171px;
  width: 1177px;
}

.second-banner-title {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 4%;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 40px;
}

.second-banner-paragraphs-div {
  margin: auto;
  height: 567px;
  width: 476px;
}

.second-banner-paragraphs {
  align-items: center;
  color: #4F4F4F;
  display: flex;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  gap: 20px;
  justify-content: center;
  height: 125px;
  left: 3px;
  letter-spacing: 5%;
  line-height: 140%;
  margin-bottom: 20px;
  top: 92px;
  width: 460px;
}

.second-banner-mug{
  height: 728px;
  margin: auto;
  width: 652px;
}

.third-banner {
  align-items: center;
  background-image: url('/src/assets/avanti-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: center;
  margin: 50px 0;
  overflow: hidden;
  width: 100vw;
}

.third-banner-message-div {
  align-items: center;
  bottom: 0;
  display: flex;
  background-color: #005CFF;
  height: 80px;
  justify-content: center;
  left: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.third-banner-message {
  color: #FFFFFF;
  font-family: "Nunito";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 140%;
  text-align: center;
  vertical-align: middle;
}

.newsletter {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 227px;
  justify-content: center;
  margin: auto;
  width: 80vw;
}

.newsletter-title {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.newsletter-title span {
  color: #005CFF;
}

.newsletter-form {
  align-items: center;
  background-color: #DEDEDE;
  border-radius: 8px;
  display: flex;
  gap: 15px;
  height: 176px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.newsletter-inputs {
  border: none;
  border-radius: 8px;
  height: 48px;
  outline: none;
  padding-left: 15px;
  width: 280px;
}

.pvcheckbox-label {
  align-items: center;
  color: #656565;
  display: flex;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  gap: 5px;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
}

.newsletter-check-input {
  border-radius: 4px;
  border-width: 1px;
  height: 16px;
  width: 16px;
}

.pvcheckbox-label a {
  color: #656565;
}

.newsletter-button {
  background-color: #005CFF;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;
  height: 48px;
  letter-spacing: 0%;
  line-height: 20px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  text-align: center;
  width: 121px;
}
